<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">Transacciones</h3>
  </div>
  <div class="col-md-6 col-4 align-self-center">
    
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered" id="mitabla" data-source="<%= transacciones_path(format: :json) %>">
          <thead>
            <tr>
              <th style="width: 10%" class="busqda">Codigo</th>
              <th class="busqda">Categoria</th>
              <th class="busqda">Proyecto</th>
              <th class="busqda">Nota</th>
              <th class="busqda">Monto</th>
              <th class="busqda">Fecha</th>
              <th></th>
            </tr>
            <tr>
              <th>Codigo</th>
              <th>Categoria</th>
              <th>Proyecto</th>
              <th>Nota</th>
              <th>Monto</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
        <div class="btn btn-md btn btn-info " ><i class="fa fa-pencil"></i> Editar</div>
        <div class="btn btn-md btn btn-success " ><i class="fa fa-dollar"></i> Precios</div>
        <div class="btn btn-md btn btn-warning " ><i class="fa fa-sort-amount-desc"></i> Cantidad</div>
        <div class="btn btn-md btn btn-danger " ><i class="fa fa-remove"></i> Eliminar</div>

      </div>
    </div>
  </div>
</div>
<% content_for :add_css do %>

<link href="<%= asset_path '/assets/plugins/sweetalert/sweetalert.css' %>" rel="stylesheet" type="text/css">
<% end %>
<% content_for :add_js do %>
<script src="<%= asset_path '/assets/plugins/datatables/jquery.dataTables.min.js' %>"></script>

<script src="<%= asset_path '/assets/plugins/sweetalert/sweetalert.min.js' %>"></script>
<script type="text/javascript">
  var token = document.getElementsByName("csrf-token")[0].getAttribute('content');

  $('#mitabla thead th.busqda').each(function () {
    var title = $('#mitabla thead th').eq($(this).index()).text();
    $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
  });
  var table5 = $('#mitabla').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#mitabla').data('source'),
    "pagingType": "full_numbers",
    "columns": [
    {"data": "id"},
    {"data": "categoria"},
    {"data": "proyecto"},
    {"data": "nota"},
    {"data": "monto"},
    {"data": "fecha"},
    {
      data: null,
      orderable: false,
      render: function ( data, type, row ) {
        btneditar = '<button class="btn btn-info editar_m" data-id="'+data['id']+'" title="Editar"><i class="fa fa-pencil"></i></button>';
        btneliminar = '<button class="btn btn-danger eliminar_m" data-id="'+data['id']+'" data-nombre="'+data['nombre']+'" title="Eliminar"><i class="fa fa-remove"></i></button>';
        btn_precios = '<button class="btn btn-success precios_m" data-id="'+data['id']+'" data-nombre="'+data['nombre']+'" title="Precios"><i class="fa fa-dollar"></i></button>';
        btn_cantidad = '<button class="btn btn-warning cantidad_m" data-id="'+data['id']+'" data-nombre="'+data['nombre']+'" title="Cantidad"><i class="fa fa-sort-amount-desc"></i></button>';
        return btneditar+' '+btn_precios+' '+btn_cantidad+' '+btneliminar;
      }
    }
    ],
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    }
  });

  table5.columns().every(function (index) {
    $('#mitabla thead tr th:eq(' + index + ') input').on('keyup change', function () {
      table5.column($(this).parent().index() + ':visible')
      .search(this.value)
      .draw();
    });
  });

  $(document).on('click','.editar_m',function(){
    el_id = $(this).data('id');
    window.location.href = '/productos/'+el_id+'/edit';
  });

  $(document).on('click','.precios_m',function(){
    el_id = $(this).data('id');
    cargarmodal('/rangos_precio/precios/'+el_id);
  });

  $(document).on('click','.cantidad_m',function(){
    el_id = $(this).data('id');
    el_nombre=$(this).data('nombre');
    cargarmodal('/cantidad/'+el_id);
  });

  $(document).on('click','.eliminar_m',function(){
    el_id = $(this).data('id');
    el_nombre = $(this).data('nombre');
    pregunta_eli('/productos/'+el_id,'Eliminar el producto '+el_nombre);
  });


  function pregunta_eli(urll, texto) {
    swal({
      title: "Esta seguro?",
      text: texto,
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Si",
      cancelButtonText: "No",
      closeOnConfirm: false,
      closeOnCancel: false
    }, function (isConfirm) {
      if (isConfirm) {
        var form = document.createElement("form");
        var element1 = document.createElement("input");
        var element2 = document.createElement("input");

        form.method = "POST";
        form.action = urll;

        element1.value="delete";
        element1.name="_method";
        form.appendChild(element1);

        element2.value=token;
        element2.name="authenticity_token";
        form.appendChild(element2);

        document.body.appendChild(form);

        form.submit();

      } else {
        swal("Cancelado", "(DE " + texto + ')', "error");
      }
    });
  }

</script>
<% end %>
